In [2]:
import polars as pl
import pandas as pd
import os, textwrap
from pathlib import Path
from hackutilitiy import *
import matplotlib.pyplot as plt

## Load relevant data

In [3]:
# Load the rets data for all securities
rets_db = pd.read_csv('../data/quant_data.csv', index_col='Unnamed: 0').loc[:, 
            ["gvkey", "id", "iid", "date", "stock_ret", "excntry", "me", "year", "month"]]

rets_db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6401414 entries, 0 to 6401413
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   gvkey      float64
 1   id         object
 2   iid        object
 3   date       int64
 4   stock_ret  float64
 5   excntry    object
 6   me         float64
 7   year       int64
 8   month      int64
dtypes: float64(3), int64(3), object(3)
memory usage: 488.4+ MB

In [4]:
print(f"rets_db dims: {rets_db.shape}")
print(f"rets_db dims NA dropped: {rets_db.dropna().shape}")

rets_db dims: (6401414, 9)
rets_db dims NA dropped: (6391093, 9)

In [5]:
# Load the text features harvested from the corporate filings (10K and 10Q Risk Factors and MD&As)
txt_features_db = pd.read_csv('../data/txt_features.csv').loc[:,
                ["gvkey", "cik", "cusip", "date", "rf_feature", "mgmt_feature"]
]

txt_features_db.head()

      gvkey      cik      cusip      date  rf_feature  mgmt_feature
0    6831.0    16099  549282101  20050103         0.0      0.000066
1   11872.0   779544  040712101  20050103         0.0      0.000095
2   24783.0   831641  88162G103  20050103         0.0      0.000041
3   61721.0   866415  459412102  20050103         0.0      0.008602
4  146117.0  1141240  53634X100  20050103         0.0      0.002048

In [6]:
print(f"txt_features_db dims: {txt_features_db.shape}")
print(f"txt_features_db dims NA dropped: {txt_features_db.dropna().shape}")

txt_features_db dims: (358439, 6)
txt_features_db dims NA dropped: (353294, 6)

In [7]:
# Load the link tables for quant and text data(compustat gvkey flag and SEC EDGAR cik flag respectively)
cik_gvkey_lnktbl = pd.read_csv('../data/linktables/cik_gvkey_linktable_us_only.csv')
cik_gvkey_lnktbl.rename(columns={'datadate':'date'}, inplace=True)
cik_gvkey_lnktbl.head()

,gvkey,date,iid,tic,cusip,conm,tpci,cik
0,1003,2005-01-31,01,ANTQ,000354100,A.A. IMPORTING CO INC,0,730052.0
1,1004,2005-01-31,01,AIR,000361105,AAR CORP,0,1750.0
2,1009,2005-01-31,01,ABSI.1,000781104,ABS INDUSTRIES INC,0,313368.0
3,1013,2005-01-31,01,ADCT.1,000886309,ADC TELECOMMUNICATIONS INC,0,61478.0
4,1019,2005-01-31,01,AFAP,001038108,AFA PROTECTIVE SYSTEMS INC,0,2668.0

In [8]:
# Load and rectify the global data linktable
date_gvkey_iid_global_lnktbl =pd.read_csv('../data/linktables/date-gvkey_iid_linktable_global.csv')
date_gvkey_iid_global_lnktbl.head()

/tmp/ipykernel_273135/1165790944.py:1: DtypeWarning: Columns (0,4) have mixed types. Specify dtype option on import or set low_memory=False.
  date_gvkey_iid_global_lnktbl =pd.read_csv('../data/linktables/date-gvkey_iid_linktable_global.csv')

   fic  gvkey    datadate  iid conm
0  NaN      5  2006-01-31  01W  NaN
1  NaN      5  2006-02-28  01W  NaN
2  NaN      5  2006-03-31  01W  NaN
3  NaN      5  2006-04-30  01W  NaN
4  NaN      5  2006-05-31  01W  NaN

In [9]:
date_gvkey_iid_global_lnktbl.rename(columns={'datadate':'date'}, inplace=True)

In [10]:
date_gvkey_iid_global_lnktbl['date'] =date_gvkey_iid_global_lnktbl['date'].str.split('-').str.join('')

In [11]:
date_gvkey_iid_global_lnktbl = date_gvkey_iid_global_lnktbl.astype({"date": int})

## Merge quant and text features:

In [12]:
# drop data without NA identifiers and rectify dtypes
rets_db = rets_db.dropna(subset=['gvkey']).astype({"gvkey": int})
txt_features_db = txt_features_db.dropna(subset=['gvkey']).astype({"gvkey": int})
cik_gvkey_lnktbl['date'] = cik_gvkey_lnktbl['date'].str.split('-').str.join('')
cik_gvkey_lnktbl = cik_gvkey_lnktbl.dropna(subset=['cik']).astype({"date": int, "cik": int})

In [13]:
# Display the join keys:
print(f"rets_db links: {set(rets_db.columns).intersection(set(cik_gvkey_lnktbl.columns))}")
print(f"txt_features_db links: {set(txt_features_db.columns).intersection(set(cik_gvkey_lnktbl.columns))}")
print(f"rets_db and txt_features_db join keys: {set(rets_db.columns).intersection(set(txt_features_db.columns))}")
print(f"txt_features_db and date_gvkey_iid_global_lnktbl join keys: {set(txt_features_db.columns).intersection(set(date_gvkey_iid_global_lnktbl.columns))}")

rets_db links: {'gvkey', 'date', 'iid'}
txt_features_db links: {'cik', 'gvkey', 'cusip', 'date'}
rets_db and txt_features_db join keys: {'gvkey', 'date'}
txt_features_db and date_gvkey_iid_global_lnktbl join keys: {'gvkey', 'date'}

In [14]:
# Collect data relevant to the forecasting model:
# Text data are linked to market data with ["gvkey", "cik", "cusip", "date"] keys. 
# Same text data regardless of the iid flag for a given ["gvkey", "cik", "cusip", "date"] key
# US Quant and text data are merged on ["gvkey", "iid","date"] keys.
# Global data linked to returns ["gvkey", "iid", "fic", "date", "conm"].
modeling_data = (rets_db.merge(txt_features_db.merge(cik_gvkey_lnktbl.drop_duplicates(subset=["gvkey", "cik", "cusip", "date"]),
                                                      how='left', 
                                                      on =["gvkey", "cik", "cusip", "date"]),
                                    how='left', 
                                    on =["gvkey", "iid","date"])
                        .loc[:, # re-order the columns in the data frame
    ['date',  'tic', 'conm', 'excntry', 'me', 'rf_feature', 'mgmt_feature', 'stock_ret', 'year', 'month',  'tpci', 'gvkey', 'iid', 'cik', 'cusip', 'id']
                       ].rename(columns={'excntry':'fic', 'stock_ret':'target_ret'})
                        .merge(date_gvkey_iid_global_lnktbl, # link global identifiers
                                how='left',
                                on=["gvkey", "iid", "fic", "date", "conm"])
)

In [15]:
modeling_data.shape

(6400963, 16)

In [16]:
#tpci = 0 → common shares, i.e. the standard tradable equity issue
modeling_data.dropna()

,date,tic,conm,fic,me,rf_feature,mgmt_feature,target_ret,year,month,tpci,gvkey,iid,cik,cusip,id
17590,20050228,XOM,EXXON MOBIL CORP,USA,332886.863760,0.000000,0.000038,0.232171,2005,2,0,4503,01,34088.0,30231G102,crsp_11850
17592,20050228,INCB,INDIANA COMMUNITY BANCORP,USA,101.545876,0.000000,0.000029,0.003570,2005,2,0,16974,01,867493.0,454674102,crsp_11866
17609,20050228,CHFC,CHEMICAL FINANCIAL CORP,USA,933.732762,0.000000,0.000040,-0.105121,2005,2,0,15197,01,814184.0,163731102,crsp_11992
17627,20050228,GR,GOODRICH CORP,USA,4079.367509,0.000000,0.010294,0.079592,2005,2,0,5229,01,42542.0,382388106,crsp_12140
17672,20050228,PEP,PEPSICO INC,USA,90456.577285,0.000000,0.016805,0.002980,2005,2,0,8479,01,77476.0,713448108,crsp_13856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6322164,20250430,INN,SUMMIT HOTEL PROPERTIES INC,USA,593.920620,0.001738,0.004906,-0.247689,2025,4,0,185396,01,1497645.0,866082100,comp_185396_01
6322205,20250430,SXC,SUNCOKE ENERGY INC,USA,776.038400,0.000224,0.000175,-0.015217,2025,4,0,186773,01,1514705.0,86722A103,comp_186773_01
6322241,20250430,NBHC,NATIONAL BANK HLDGS CORP,USA,1456.364850,0.000270,0.000066,-0.055135,2025,4,0,190963,02,1475841.0,633707104,comp_190963_02
6328714,20250430,BLKB,BLACKBAUD INC,USA,3055.093800,0.000599,0.005578,-0.024335,2025,4,0,260893,01,1280058.0,09227Q100,comp_260893_01
6328727,20250430,KRG,KITE REALTY GROUP TRUST,USA,4913.906050,0.000138,0.005235,-0.019507,2025,4,0,266315,01,1286043.0,49803T300,comp_266315_01

In [18]:
# Load feature labels glossary
factor_glossary = pd.read_csv('../stock_char_appendix/table1.csv')

# Load accounting ratios
acc_ratios = pd.read_csv('../data/acc_ratios.csv')

# Load shortlisted security characteristics
features_short = pd.read_csv('../data/referenced_predictive_factors.csv')
factor_list = features_short['Acronym'].tolist()
factor_list.extend(acc_ratios.Variable.tolist())
factor_list.extend(['date',  'iid', 'id', 'gvkey']  )

In [19]:
# Collect the shorlisted features from the rets data base
df = pl.scan_csv('../MAIN DATA and SUPPORTING CODES/ret_sample.csv'
                 ).select(factor_list
                 ).collect().to_pandas()
df.head()

,market_equity,dolvol_126d,turnover_126d,ivol_ff3_21d,ni_ivol,beta_60m,z_score,f_score,netdebt_me,rd_sale,...,op_at,rd_me,be_me,div12m_me,ni_me,sale_me,date,iid,id,gvkey
0,2398.152284,1.547222e+07,0.005768,0.018152,0.013934,0.650452,0.907301,4.0,1.626597,NaN,...,0.059734,NaN,1.254719,0.013995,-0.025893,1.702724,20050228,01C,comp_001081_01C,1081.0
1,301.116426,1.708334e+05,0.000595,0.012638,0.007200,0.423608,0.676485,3.0,3.594891,NaN,...,0.068392,NaN,1.512289,0.020393,-0.014616,0.956297,20050228,01C,comp_001096_01C,1096.0
2,32.808300,5.934347e+04,0.002271,0.025100,0.095603,1.636192,4.253169,8.0,-0.069556,0.073753,...,0.207169,0.044349,0.329155,NaN,0.063216,0.640234,20050228,02,comp_001117_02,1117.0
3,911.419063,5.289732e+06,0.006959,0.018742,0.067910,1.929850,2.854210,4.0,0.075822,0.135861,...,0.199529,0.109261,0.366407,NaN,-0.040524,0.804217,20050228,01W,comp_001166_01W,1166.0
4,1099.753789,4.953975e+06,0.004108,0.010074,0.035117,0.220041,3.600732,6.0,0.021285,NaN,...,0.095411,NaN,0.454720,0.002284,0.031513,0.167404,20050228,01C,comp_001186_01C,1186.0

In [20]:
print(f"modeling data and factor features join keys: {set(modeling_data.columns).intersection(set(factor_list))}")

modeling data and factor features join keys: {'gvkey', 'id', 'date', 'iid'}

In [ ]:
# Merge the collected forecasting model data and the shortlisted features
modeling_data = modeling_data.merge(df, how='left', on=['date',  'iid', 'id', 'gvkey'])

In [22]:
modeling_data.head()

,date,tic,conm,fic,me,rf_feature,mgmt_feature,target_ret,year,month,...,niq_be,ocf_at,gp_at,niq_at,op_at,rd_me,be_me,div12m_me,ni_me,sale_me
0,20050228,NaN,NaN,CAN,2398.152284,NaN,NaN,-0.143457,2005,2,...,0.051041,0.000749,0.092638,0.018483,0.059734,NaN,1.254719,0.013995,-0.025893,1.702724
1,20050228,NaN,NaN,CAN,301.116426,NaN,NaN,0.028077,2005,2,...,0.007062,0.043963,0.089504,0.001693,0.068392,NaN,1.512289,0.020393,-0.014616,0.956297
2,20050228,NaN,NaN,USA,32.808300,NaN,NaN,-0.168627,2005,2,...,0.048570,0.202308,0.668503,0.032732,0.207169,0.044349,0.329155,NaN,0.063216,0.640234
3,20050228,NaN,NaN,NLD,911.419063,NaN,NaN,0.086271,2005,2,...,0.014161,0.091636,0.350565,0.004722,0.199529,0.109261,0.366407,NaN,-0.040524,0.804217
4,20050228,NaN,NaN,CAN,1099.753789,NaN,NaN,0.149056,2005,2,...,0.017315,0.065650,0.113388,0.016225,0.095411,NaN,0.454720,0.002284,0.031513,0.167404

In [19]:
modeling_data.columns

Index(['date', 'tic', 'conm', 'fic', 'me', 'rf_feature', 'mgmt_feature',
       'target_ret', 'year', 'month', 'tpci', 'gvkey', 'iid', 'cik', 'cusip',
       'id', 'market_equity', 'dolvol_126d', 'turnover_126d', 'ivol_ff3_21d',
       'ni_ivol', 'beta_60m', 'z_score', 'f_score', 'netdebt_me', 'rd_sale',
       'ebit_bev', 'ebit_sale', 'ni_be', 'niq_be', 'ocf_at', 'gp_at', 'niq_at',
       'op_at', 'rd_me', 'be_me', 'div12m_me', 'ni_me', 'sale_me'],
      dtype='object')

In [14]:
pl.from_pandas(modeling_data.loc[:,
    ['gvkey', 'iid', 'id', 'tpci', 'date', 'tic', 'conm', 'fic', 'market_equity', 'dolvol_126d', 'turnover_126d', 'ivol_ff3_21d',
       'ni_ivol', 'beta_60m', 'z_score', 'f_score', 'netdebt_me', 'rd_sale',
       'ebit_bev', 'ebit_sale', 'ni_be', 'niq_be', 'ocf_at', 'gp_at', 'niq_at',
       'op_at', 'rd_me', 'be_me', 'div12m_me', 'ni_me', 'sale_me', 'rf_feature', 'mgmt_feature', 'target_ret', 'year', 'month']
]).write_csv('../data/modeling_data.csv')

In [ ]:
modeling_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6400963 entries, 0 to 6400962
Data columns (total 39 columns):
 #   Column         Dtype
---  ------         -----
 0   date           int64
 1   tic            object
 2   conm           object
 3   fic            object
 4   me             float64
 5   rf_feature     float64
 6   mgmt_feature   float64
 7   target_ret     float64
 8   year           int64
 9   month          int64
 10  tpci           object
 11  gvkey          int64
 12  iid            object
 13  cik            float64
 14  cusip          object
 15  id             object
 16  market_equity  float64
 17  dolvol_126d    float64
 18  turnover_126d  float64
 19  ivol_ff3_21d   float64
 20  ni_ivol        float64
 21  beta_60m       float64
 22  z_score        float64
 23  f_score        float64
 24  netdebt_me     float64
 25  rd_sale        float64
 26  ebit_bev       float64
 27  ebit_sale      float64
 28  ni_be          float64
 29  niq_be         float64
 30  ocf_at         float64
 31  gp_at          float64
 32  niq_at         float64
 33  op_at          float64
 34  rd_me          float64
 35  be_me          float64
 36  div12m_me      float64
 37  ni_me          float64
 38  sale_me        float64
dtypes: float64(28), int64(4), object(7)
memory usage: 1.9+ GB

## Explore text data

In [ ]:
# Read the .pkl file
txt_sample = pd.read_pickle("TEXT DATA US by YEAR/2006/text_us_2006.pkl")
txt_sample['date'] = pd.to_datetime(txt_sample.date)
txt_sample = txt_sample.astype({"gvkey": int})
txt_sample.dropna()

,date,cik,file_type,rf,mgmt,gvkey,cusip,year
195739,2006-01-03,62234,10Q,,Item 2. \n Management's Discussion and Analysi...,7022,566330106,2006
195740,2006-01-03,890923,10K,Item 1A. Risk Factors\n- -------- ------------...,Item 7. Management's Discussion and Analysis o...,25918,98975W104,2006
195738,2006-01-03,1123360,10Q,,ITEM 2. \n\nMANAGEMENT S DISCUSSION AND ANALYS...,141913,37940X102,2006
195749,2006-01-04,16160,10Q,,Item 2. \n Management s Discussion and Analysi...,64275,128030202,2006
195745,2006-01-04,96879,10Q,,Item 2. \n \n Management s Discussion and Anal...,10391,879131100,2006
...,...,...,...,...,...,...,...,...
213523,2006-12-29,1063085,10K,ITEM 1A. \n\nRISK\n FACTORS \n\n13 Item 1A. \n...,ITEM 7. \n\nMANAGEMENT S\n DISCUSSION AND ANAL...,113361,149016107,2006
213506,2006-12-29,1133062,10K,Item\n 1A. \n\nRisk\n Factors \n\n1.\n We May ...,Item\n 7. \n\nManagement s\n Discussion and An...,147249,47077R109,2006
213509,2006-12-29,1183941,10K,ITEM 1A \n\nRISK FACTORS \n \n 11 ITEM 1A. Ris...,ITEM 7. \n\nMANAGEMENT S DISCUSSION AND ANALYS...,230796,00506P103,2006
213524,2006-12-29,1310094,10K,ITEM 1A. RISK FACTORS Risk Factors This report...,ITEM 7. MANAGEMENT S DISCUSSION AND ANALYSIS O...,162956,00430L103,2006
213529,2006-12-29,1310313,10K,Item 1A. Risk Factors 33 ITEM 1A. RISK FACTORS...,Item 7. Management's Discussion and Analysis o...,162576,114039100,2006

In [ ]:
data_dct['us_cik_gvkey_linktable'][data_dct['us_cik_gvkey_linktable'].tpci=='1']

,gvkey,date,iid,tic,cusip,conm,tpci,cik
57,1225,2005-01-31,17,ALP.PN,010392595,ALABAMA POWER CO,1,3153.0
99,1393,2005-01-31,03,AO.PA,023586209,U-HAUL HOLDING CO,1,4457.0
109,1440,2005-01-31,02,AEP.Z,025537200,AMERICAN ELECTRIC POWER CO,1,4904.0
201,1831,2005-01-31,03,ASFZ,046008207,ASSOCIATES FIRST CAP -CL A,1,7974.0
249,2025,2005-01-31,06,BRE.PD,05564E601,BRE PROPERTIES INC,1,1011174.0
...,...,...,...,...,...,...,...,...
498281,157454,2007-05-31,01,BGE.PB,05541Q206,BGE CAPITAL TRUST II,1,1258417.0
498343,157877,2007-05-31,01,PNU,69350H202,PNC CAPITAL TRUST D,1,1060264.0
498880,161933,2007-05-31,86,MER.PN,59022Y840,MERRILL LYNCH & CO (DUPL 5),1,NaN
499627,164561,2007-05-31,02,WRB.PA,08449Q203,BERKLEY (WR) CAP TR II,1,1267530.0
499635,164577,2007-05-31,02,USB.PF,903301208,USB CAPITAL TRUST VII,1,NaN

In [ ]:
txt_sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16553 entries, 195739 to 213529
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       16553 non-null  datetime64[ns]
 1   cik        16553 non-null  int64
 2   file_type  16553 non-null  object
 3   rf         16553 non-null  object
 4   mgmt       16553 non-null  object
 5   gvkey      16553 non-null  int64
 6   cusip      16553 non-null  object
 7   year       16553 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 1.1+ MB

In [ ]:
df = (txt_sample.merge(data_dct['us_cik_gvkey_linktable'].drop_duplicates(subset=["gvkey", "cik", "cusip", "date"]),
              how='left', 
              on =["gvkey", "cik", "cusip", "date"])
        ).drop(['cik', 'cusip', 'gvkey', 'iid'], axis=1)

## Inspect the rf and mgmt reports

In [ ]:
rf_sample1 = txt_sample.rf.reset_index(drop=True).dropna().iloc[16542]

In [ ]:
rf_sample2 = txt_sample.rf.reset_index(drop=True).dropna().iloc[16535]

In [ ]:
print('\n'.join(textwrap.fill(para, width=80) for para in rf_sample1.split('\n') if para.strip()))

Item 1A. Risk Factors 37 ITEM 1A. RISK FACTORS.
OUR OPERATIONS ARE SUBJECT TO INTEREST RATE RISK AND VARIATIONS IN INTEREST
RATES MAY NEGATIVELY AFFECT FINANCIAL PERFORMANCE.
 Our earnings and cash flows are largely dependent upon our net interest
income. Net interest income is the difference between interest income earned on
interest-earning assets such as loans and securities and interest expense paid
on interest-bearing liabilities such as deposits and borrowed money. Changes in
the general level of interest rates may have an adverse effect on our business,
financial condition and result of operations. Interest rates are highly
sensitive to many factors that are beyond our control, including general
economic conditions and policies of various governmental and regulatory agencies
and, in particular, the FRB. Changes in monetary policy, including changes in
interest rates, influence the amount of interest income that we receive on loans
and securities and the amount of interest that we pay on deposits and
borrowings. Changes in monetary policy and interest rates also can adversely
affect:
 - our ability to originate loans and obtain deposits;
 - the fair value of our financial assets and liabilities; and
 - the average duration of our securities portfolio.
 If the interest rates paid on deposits and other borrowings increase at a
faster rate than the interest rates received on loans and other investments, our
net interest income, and therefore earnings, could be adversely affected.
Earnings could also be adversely affected if the interest rates received on
loans and other investments fall more quickly than the interest rates paid on
deposits and other borrowings.
THE OPERATING RESTRICTIONS IMPOSED BY THE OTS IN THE SUPERVISORY AGREEMENTS
LIMIT OUR ABILITY TO GROW, WHICH MAY ADVERSELY AFFECT OUR ABILITY TO
SUCCESSFULLY IMPLEMENT OUR BUSINESS STRATEGY.
 In February 2006, the Company and the Bank each entered into supervisory
agreements with the OTS. The supervisory agreements provide for a number of
restrictions on the operations of the Company and the Bank, including the
requirement for the Company to cease paying dividends and to not repurchase any
shares of its common stock and for the Bank to not grow in any quarter in excess
of the greater of its net interest credited or 3 (on an annualized basis). For
further information, see Item 1, "Business - Supervisory Agreements." If the
restrictions imposed by the supervisory agreements are not removed or reduced,
it may adversely affect our ability to successfully implement our business
strategy and thus may also adversely affect our financial condition and results
of operations. As a result of the supervisory agreements, the Company submitted
a capital plan to the OTS. The Company's capital plan, which has been approved
by the OTS, calls for, among other things, an equity infusion in order to reduce
the Company's debt-to-equity ratio below 50 . A private placement was undertaken
in order to comply with the Company's capital plan. The net proceeds from this
private placement both increased the Company's capital as well as reduced its
debt-to-equity ratio. In the event the Company is unable to reduce its
debt-to-equity ratio below 50 , it is unlikely that the Company will be able to
resume the payment of dividends or have the supervisory agreements terminated.
WE MAY BE UNABLE TO SUCCESSFULLY IMPLEMENT OUR BUSINESS STRATEGY.
 Implementation of our business strategy is dependent on (i) the termination
of the supervisory agreements we entered into in February 2006 with the OTS or
the elimination of, or substantial reduction in, the operating restrictions
imposed by such agreements, in particular the restriction limiting our asset
growth, which likely will depend, in part, on our ability to comply with the
provisions of our capital plan which was recently approved by the OTS; (ii) our
ability to attract sufficient low cost retail and commercial deposits; (iii)
maintaining existing and attracting new business banking relationships; (iv)
expanding our commercial business and commercial real estate lending portfolios;
(v) attracting and retaining experienced commercial lenders and other key
managerial employees; and (vi) expanding our branch network in Delaware and
Chester Counties, Pennsylvania. The failure to achieve these strategic goals
could adversely affect our ability to successfully implement our business
strategy and thus our financial condition and results of operations.
37
WE ARE SUBJECT TO LENDING RISK AND COULD SUFFER LOSSES IN OUR LOAN PORTFOLIO
DESPITE OUR UNDERWRITING PRACTICES.
 There are inherent risks associated with our lending activities. There are
risks inherent in making any loan, including those related to dealing with
individual borrowers, nonpayment, uncertainties as to the future value of
collateral and changes in economic and industry conditions. We attempt to
closely manage our credit risk through loan underwriting and application
approval procedures, monitoring of large loan relationship and periodic
independent reviews of outstanding loans by our lending department and third
party loan review specialists. We cannot assure that such approval and
monitoring procedures will reduce these credit risks.
OUR LOAN PORTFOLIO INCLUDES COMMERCIAL AND MULTI-FAMILY REAL ESTATE, COMMERCIAL
BUSINESS AND CONSTRUCTION LOANS WHICH HAVE A GENERALLY HIGHER RISK OF LOSS THAN
SINGLE-FAMILY RESIDENTIAL LOANS.
 As of September 30, 2006, approximately 39.3 of our loan portfolio
consisted of commercial business, construction and land development and
commercial and multi-family real estate loans. We are focused on increasing
these types of loans in the future. These types of loans involve increased risks
because the borrower's ability to repay the loan typically depends on the
successful operation of the business or the property securing the loan.
Additionally, these loans are made to small or middle-market business customers
who may be more vulnerable to economic conditions and who may not have
experienced a complete business or economic cycle. These types of loans are also
typically larger than single-family residential mortgage loans or consumer
loans. Furthermore, since these types of loans frequently have relatively large
balances, the deterioration of one or more of these loans could cause a
significant increase in non-performing loans and or non-performing assets. An
increase in non-performing loans would result in a reduction in interest income
recognized on loans. An increase in non-performing loans also could require us
to increase the provision for losses on loans and increase loan charge-offs,
both of which would reduce our net income. All of these could have a material
adverse effect on our financial condition and results of operations.
ADVERSE ECONOMIC AND BUSINESS CONDITIONS IN OUR PRIMARY MARKET AREA COULD CAUSE
AN INCREASE IN LOAN DELINQUENCIES AND NON-PERFORMING ASSETS WHICH COULD
ADVERSELY AFFECT OUR FINANCIAL CONDITION AND RESULTS OF OPERATIONS.
 The substantial majority of our real estate loans are secured by properties
located in Delaware and Chester Counties, Pennsylvania, our primary market area.
Furthermore, at September 30, 2006, approximately 39.3 of our loan portfolio
consisted of commercial business, construction and land development and
commercial and multi-family real estate loans. The Company's results of
operations and financial condition may be adversely affected by changes in
prevailing economic conditions, particularly in the Philadelphia metropolitan
area, including decreases in real estate values, adverse local employment
conditions, and other significant local events. Any deterioration in the local
economy could result in borrowers not being able to repay their loans, the value
of the collateral securing the Company's loans to borrowers declining and the
quality of the loan portfolio deteriorating. This could result in an increase in
delinquencies and non-performing assets or require the Company to record loan
charge-offs and/or increase the Company's provisions for loan losses, which
would reduce the Company's earnings.
OUR ALLOWANCE FOR LOSSES ON LOANS MAY BE INSUFFICIENT TO COVER ACTUAL LOSSES ON
LOANS.
 We maintain an allowance for losses on loans at a level believed adequate
by us to absorb credit losses inherent in the loan portfolio. The allowance for
losses on loans is a reserve established through a provision for losses on loans
charged to expense that represents our estimate of probable incurred losses
within the loan portfolio at each statement of condition date and is based on
the review of available and relevant information. The level of the allowance for
losses on loans reflects, among other things, our consideration of the Company's
historical experience, levels of and trends in delinquencies, the amount of
classified assets, the volume and type of lending, and current and anticipated
economic conditions, especially as they relate to the Company's primary market
area. The determination of the appropriate level of the allowance for losses on
loans inherently involves a high degree of subjectivity and requires us to make
significant estimates of current credit risks and future trends. Our allowance
for loan losses may be insufficient to cover actual losses experienced on loans.
Changes in economic conditions affecting borrowers, new information regarding
existing loans, identification of additional problem loans and other factors,
both within and outside of our control, may require an increase in the allowance
for losses on loans. In addition, bank regulatory agencies periodically review
our allowance for losses on loans and may require an increase in the provision
for losses on loans or the recognition of further loan charge offs, based on
judgments different from ours. Also, if charge offs in future periods exceed the
allowance for losses on loans, we will need additional provisions to increase
our allowance for losses on loans. Any increases in the allowance for losses on
loans will result in a decrease in net income and possibly capital, and may have
a material adverse effect on our financial condition and results of operations.
38
WE OPERATE IN A HIGHLY COMPETITIVE INDUSTRY AND MARKET AREA WITH OTHER FINANCIAL
INSTITUTIONS OFFERING PRODUCTS AND SERVICES SIMILAR TO THOSE WE OFFER.
 We compete with savings associations, national banks, regional banks and
other community banks in making loans, attracting deposits and recruiting and
retaining talented employees, many of which have greater financial and technical
resources than us. Currently, there are more than 30 competing financial
institutions in Delaware and Chester Counties, our principal market area. We
also compete with securities and brokerage companies, mortgage companies,
insurance companies, finance companies, money market mutual funds, credit unions
and other non-bank financial service providers. Many of these competitors are
not subject to the same regulatory restrictions to which we are subject, yet are
able to provide customers with a feasible alternative to traditional banking
services. The competition in our market for making commercial and construction
loans has resulted in more competitive pricing as well as intense competition
for skilled commercial lending officers. These trends could have a material
adverse effect on our ability to grow (irrespective of the limitations imposed
by the supervisory agreements) and remain profitable. In addition, if we
experience an inability to recruit and retain skilled commercial lending
officers, including experienced construction lenders, it could pose a
significant barrier to retaining and growing our customer base. The competition
in our market for attracting deposits also has resulted in more competitive
pricing.
WE ARE SUBJECT TO EXTENSIVE GOVERNMENT REGULATION AND SUPERVISION WHICH COULD
ADVERSELY AFFECT OUR OPERATIONS.
 We are subject to extensive federal and state regulations and supervision.
Banking regulations are primarily intended to protect depositors' funds, federal
deposit insurance funds and the banking system as a whole, not stockholders.
These regulations affect our lending practices, capital structure, investment
practices, dividend policy and growth, among other things. Congress and federal
agencies continually review banking laws, regulations and policies for possible
changes. Changes to statutes, regulations or regulatory policies, including
changes in interpretation or implementation of statutes, regulations or
policies, could affect us in substantial and unpredictable ways. Such changes
could subject us to additional costs, limit the types of financial services and
products we may offer and/or increase the ability of non-banks to offer
competing financial services and products, among other things. Failure to comply
with law, regulations or policies could result in sanctions by regulatory
agencies, civil money penalties and/or reputation damage, which could have a
material adverse effect on our business, financial condition and results of
operations.

In [ ]:
print('\n'.join(textwrap.fill(para, width=80) for para in rf_sample2.split('\n') if para.strip()))

Item 1A. Risk
Factors
 Because of the following
factors, as well as other factors affecting the Company s operating results and
financial condition, past financial performance should not be considered to be
a reliable indicator of future performance, and investors should not use
historical trends to anticipate results or trends in future periods.
 The matters relating to the investigation by the
Special Committee of the Board of Directors and the restatement of the Company s
consolidated financial statements may result in additional litigation and
governmental
enforcement actions.
 On June 29, 2006, the Company announced that an
internal review had discovered irregularities related to the issuance of
certain stock option grants made between 1997 and 2001, including a grant to
its Chief Executive Officer CEO ), Steve Jobs. The Company also announced a
Special Committee of outside directors Special Committee had been formed
and had hired independent counsel to conduct a full investigation of the
Company s past stock option granting practices. As described in the
Explanatory Note immediately preceding

In [ ]:
mgmt_sample1 = txt_sample.mgmt.reset_index(drop=True).dropna().iloc[11]
mgmt_sample2 = txt_sample.mgmt.reset_index(drop=True).dropna().iloc[73]

In [ ]:
print('\n'.join(textwrap.fill(para, width=80) for para in mgmt_sample1.split('\n') if para.strip()))

Item 2.
Management s Discussion and Analysis of Financial Condition and Results of
Operations
 12 Item 2. Management s Discussion and Analysis of Financial Condition and
Results of Operations Forward-Looking Statements This discussion contains
forward-looking statements within the meaning of the Private Securities
Litigation Reform Act of 1995. These
statements reflect our current views with respect to future events and financial
performance. The words believe, expect, anticipate, intend, estimate, forecast,
 project, should and similar expressions are intended to identify forward-
looking statements within the meaning of the Private Securities Litigation
Reform Act of 1995. All forecasts and projections in this
document are forward-looking statements, and are based on management s current
expectations or beliefs of the Company s results, based on current information
available pertaining to the Company, including the risk factors noted
below. From time to time, we also may provide oral and written forward-looking
statements in other materials we release to the public such as press releases,
presentations to securities analysts or investors, or other communications by
the Company.
Any or all of our forward-looking statements in this report and in any public
statements we make could be materially different from actual results.
Accordingly, we wish to caution investors that forward-looking statements made
by or on behalf of the Company are subject to uncertainties and other
factors that could cause actual results to differ materially from such
statements.
 12
Table of Contents
 These uncertainties and other risk factors include, but are not limited to, the
following: operational
risks within (A) the Architectural segment: i) competitive, price-sensitive and
changing market conditions, including unforeseen delays in project timing and
work flow; ii) economic conditions and the cyclical nature of the North American
commercial construction industry; iii) product performance, reliability or
quality problems that could delay payments, increase costs, impact orders or
lead to litigation; iv) the segment s ability to fully utilize production
capacity; v)
integration of the AWallS acquisition in a timely and cost-efficient manner; vi)
production ramp-up of the Viracon capacity expansion in Georgia in a timely and
cost-efficient manner, and vii) construction and ramp-up to full production of
the
announced third Viracon plant in a timely and cost-efficient manner; (B) the
Large-Scale Optical segment: i) markets that are impacted by consumer confidence
and trends; ii) dependence on a relatively small number of customers; iii)
changing
market conditions, including unfavorable shift in product mix; and iv) ability
to utilize manufacturing facilities; and (C) the Auto Glass segment: i)
transition of markets served as Viracon/Curvlite focuses on selling to
aftermarket
manufacturers following the end of its long-term supply agreement with PPG
Industries in the second quarter of fiscal 2006; ii) changes in market dynamics;
iii) market seasonality; iv) highly competitive, fairly mature industry; and v)
performance
of the PPG Auto Glass, LLC joint venture. Additional factors include: i) revenue
and operating results that are volatile; ii) the possibility of a material
product liability event; iii) the costs of compliance with governmental
regulations relating
to hazardous substances; iv) management of discontinued operations exiting
activities; and v) foreign currency risk related to discontinued operations. The
Company cautions readers that actual future results could differ materially from
those
described in the forward-looking statements. For a more detailed explanation of
the foregoing and other risks and uncertainties, see the cautionary statement
filed as Exhibit 99 to the Company s Annual Report on Form 10-K for the fiscal
year
ended February 26, 2005. The Company wishes to caution
investors that other factors might in the future prove to be important in
affecting the Company s results of operations. New factors emerge from time to
time; it is not possible for management to predict all such factors, nor can it
assess the
impact of each such factor on the business or the extent to which any factor, or
a combination of factors, may cause actual results to differ materially from
those contained in any forward-looking statements. The Company undertakes no
obligation to
update publicly or revise any forward-looking statements, whether as a result of
new information, future events or otherwise. Overview We are a leader in
technologies involving the design and development of value-added glass products,
services and systems. The Company is organized in
three segments: Architectural Products and Services (Architectural), Large-Scale
Optical (LSO) and Automotive Replacement Glass and Services (Auto Glass). Our
Architectural segment companies design, engineer, fabricate, install, maintain
and
renovate the walls of glass and windows primarily comprising the outside skin of
commercial and institutional buildings. Businesses in this segment are: Viracon,
a leading fabricator of coated, high-performance architectural glass for global
markets; Harmon, Inc., one of the largest U.S. full-service building glass
installation, maintenance and renovation companies; Wausau Window and Wall
Systems, a manufacturer of custom aluminum window systems and curtainwall; and
Linetec, a paint and
anodizing finisher of architectural aluminum and PVC shutters. Our LSO segment
consists of Tru Vue, a value-added glass and acrylic manufacturer for the custom
framing and pre-framed art markets, and a producer of optical thin film coatings
for
consumer electronics displays. This segment also provides wall d cor, including
framed art and mirrors. Our Auto Glass segment consists of Viracon/Curvlite, a
U.S. fabricator of aftermarket foreign and domestic car windshields and
recreational and bus windshields. The following selected
financial data should be read in conjunction with the Company s Form 10-K for
the year ended February 26, 2005 and the consolidated financial statements,
including the notes to consolidated financial statements, included therein.
 13
Table of Contents
 Sales and Earnings The relationship between various components of operations,
stated as a percent of net sales, is illustrated below for the
three and nine-month periods of the current and past fiscal years.
Three months ended
Nine months ended
(Percent of net sales)
 Nov. 26, 2005
Nov. 27, 2004
Nov. 26, 2005
Nov. 27, 2004
Net sales
 100.0
100.0
100.0
100.0
Cost of sales
 80.9
80.8
81.4
81.5
Gross profit
 19.1
19.2
18.6
18.5
Selling, general and administrative expenses
 13.8
13.8
14.1
14.2
Operating income
 5.3
5.4
4.5
4.3
Interest income
 0.1
0.2
0.1
0.4
Interest expense
 0.3
0.6
0.3
0.5
Other (expense) income, net
0.2
Equity in earnings (loss) of affiliated companies
 0.6
(0.1)
 0.5
(0.1)
Earnings from continuing operations before income taxes
 5.7
5.1
4.8
4.1
Income tax expense
 0.6
1.6
1.2
1.2
Earnings from continuing operations
 5.1
3.5
3.6
2.9
Earnings from discontinued operations
Net earnings
 5.1
3.5
3.6
2.9
Effective income tax rate for continuing operations
 10.9
31.3
25.2
30.2
 Highlights of Third
Quarter and First Nine Months of Fiscal 2006, Compared to Third Quarter and
First Nine Months of Fiscal 2005
Consolidated net sales increased 12.9 percent, or 20.3 million, for the third
quarter ended November 26, 2005 compared to the prior-year period, primarily due
to:
increased volume within our Architectural segment businesses resulting from
improved project flow, market improvement, market share growth, and effects of
the Architectural Wall
Solutions, Inc. (AWallS) acquisition completed in the fourth quarter of fiscal
2005.
Consolidated net sales increased 13.5 percent, or 61.3 million, during the nine
months ended November 26, 2005 compared to the prior-year period for the reasons
mentioned
above as well as a product-mix shift to higher value-added products and
increased framed art sales within the Large-Scale Optical (LSO) segment.
Gross profit as a percent of sales for the quarter ended November 26, 2005, as
compared to the prior-year period, decreased slightly to 19.1 percent from 19.2
percent.
the margin impact of the carryover effect of unplanned equipment downtime and
startup of new equipment was partially offset by margin improvement gained by
the higher level of
business activity within the Architectural segment.
Gross profit as a percent of sales for the nine months ended November 26, 2005,
as compared to the prior-year period, increased to 18.6 percent from 18.5
percent primarily as a
result of:
the product-mix shift to higher value-added products within the LSO segment,
increased capacity utilization within the Architectural segment partially offset
by unplanned equipment downtime.
Selling, general and administrative (SG A) expenses for the third quarter were
flat as a percent of sales, while total SG A expense increased by 2.9 million
compared to the
prior-year period primarily as a result of the AWallS acquisition. For the nine-
month period ended November 26, 2005, SG A expenses as a percent of sales
decreased to 14.1 percent from 14.2 percent, while the total expense increased
8.2
million, compared to the prior-year period. The increase in SG A expenses for
the nine-month period relates primarily to:
overall increases in SG A expenses relating to the AWallS acquisition in the
fourth quarter of fiscal 2005,
increased incentive compensation expenses due to improved financial performance,
and
realignment charges of 0.8 million during the first half of fiscal 2006, which
negatively impacted SG A expense as a percent of sales by 0.2 percent for the
nine-month period
ended November 26, 2005.
The decrease in interest income of 1.3 million for the nine months ended
November 26, 2005, compared to the prior year period, primarily resulted from
interest received on an
U.S. federal income tax refund in the prior-year period.
Equity in affiliated companies includes our 34 percent interest in an automotive
replacement glass distribution business, PPG Auto Glass, LLC. For the nine
months ended
November 26, 2005, income of 2.6 million compared positively to a loss of 0.5
million in the prior-year period. This increase in income is related to
operational improvements, increased volume and improved market pricing.
 14
Table of Contents
The decrease in the effective income tax rate to 10.9 percent in the third
quarter of fiscal 2006 from 31.3 percent for the prior year period and to 25.2
percent from 30.2 percent
for the nine-month period is primarily due to a non-cash resolution of certain
tax matters, including completion of various audits and reviews by taxing
authorities. Segment Analysis The following table presents sales and operating
income data for our three segments and on a consolidated basis for the three and
nine-month periods ended
November 26, 2005, when compared to the corresponding periods a year ago.
Three months ended
Nine months ended
(In thousands)
 Nov. 26, 2005
Nov. 27, 2004
Change
Nov. 26, 2005
Nov. 27, 2004
Change
Net Sales
Architectural
146,916
130,329
12.7
423,084
373,090
13.4
Large-Scale Optical
21,660
18,814
15.1
66,759
55,069
21.2
Auto Glass
8,876
8,021
10.7
25,596
25,885
(1.1)
 Intersegment eliminations
(32)
(18)
 NM
(158)
(40)
 NM
Net sales
177,420
157,146
12.9
515,281
454,004
13.5
Operating Income (Loss)
Architectural
5,833
5,251
11.1
13,364
13,058
2.3
Large-Scale Optical
3,596
3,280
9.6
11,702
5,530
111.6
Auto Glass
496
584
(15.1)
14
2,963
(99.5)
 Corporate and other
(531)
(651)
 NM
(1,832)
(1,859)
 NM
Operating income
9,394
8,464
11.0
23,248
19,692
18.1
NM
 = Not Meaningful Due to the varying combinations of individual window systems
and curtainwall, the Company has determined that it is impractical to report
product and
service revenues generated by the Architectural segment by class of product,
beyond the segment revenues currently reported. Architectural Products and
Services (Architectural)
Third quarter net sales of 146.9 million increased 12.7 percent in comparison
with the prior-year period as a result of increased volume and improved project
cost flow in high-end
condominiums, government and institutional work. Additionally, the current
quarter projects included a higher mix of value-added energy-efficient,
hurricane and blast products, thus contributing to increased revenues. For the
nine months, revenues
of 423.1 million increased 13.4 percent over the prior period for the reasons
previously stated. The acquisition of AWallS in the fourth quarter of fiscal
2005 represents 3.9 percent of third quarter fiscal 2006 net sales and 3.4
percent for the
nine months ended November 26, 2005, as we complete work from the acquired
backlog.
Operating income for the third quarter of 5.8 million increased 11.1 percent
from 5.3 million in the prior-year period. The increase reflects the higher
sales volume; however, the
margin for the quarterly period remained flat as a result of the impact of the
carryover effect of unplanned equipment downtime and startup of new equipment,
partially offset by margin improvement gained by the higher level of business
activity. For
the nine-month period ended November 26, 2005, operating income was 13.4
million, which was a 2.3 percent increase from the prior year of 13.1 million,
while margins decreased to 3.2 percent from 3.5 percent compared to the prior
year as a
result of lower margin work in the first half of the year.
Architectural backlog, at November 26, 2005, increased to 316.6 million from
220.1 million at fiscal 2005 year-end. The backlog increases during the year
came from all of our
architectural businesses, and we are currently seeing very strong bidding
activity throughout the segment. Large-Scale Optical Technologies (LSO)
Third quarter revenues were 21.7 million, up 15.1 percent in comparison with
prior-year period as a result of increased sales of higher value-added picture
framing products and
framed art. For the nine months ended November 26, 2005, LSO revenues were 66.8
million, up 21.2 percent in comparison with prior-year period for the same
reasons.
Operating income for the third quarter of 3.6 million improved from 3.3 million
in the prior-year period but margins declined to 16.6 percent in the current
period from 17.4
percent in the prior-year period. This decrease is the result of a shift in
timing of sales of value-added products from the third quarter to the first half
of the current
 15
Table of Contents
 year, offsetting the traditionally stronger second-half business. For the nine
months ended
November 26, 2005, operating income was 11.7 million, up from 5.5 million from
the prior year as conversion of the custom framing market from clear glass to
value-added glass, as well as to higher-end, value-added products, continued.
Operating margin of 17.5 percent for the nine months ended November 26, 2005,
compared to 10.0 percent in the prior-year period, also benefited from
consolidation of the segment s two operating facilities in fiscal 2005 and the
reallocation of manufacturing capacity to picture framing glass from consumer
electronics. Automotive Replacement Glass and Services (Auto Glass)
Third quarter revenues of 8.9 million were up 10.7 percent from the prior-year
period as a result of increased volume. For the nine months ended November 26,
2005, revenues
were 25.6 million, down 1.1 percent primarily due to decreased volume and lower
pricing during the first quarter.
Operating income of 0.5 million for the third quarter was down slightly from the
0.6 reported in the prior year. For the nine-month period ended November 26,
2005, the
segment was at break-even compared to 3.0 million of operating income in the
prior-year period. The decreased operating income for the nine-month period was
a result of lower volume and pricing in fiscal 2006.
Current year operating results included a charge related to the conclusion of
the supply agreement with PPG Industries. We are transitioning the Auto Glass
segment to focus on
selling to aftermarket manufacturers following the end of this agreement.
Consolidated Backlog
At November 26, 2005, Apogee s consolidated backlog was 322.8 million, up 40.1
percent from the 230.4 million reported at February 26, 2005 as a result of the
improved market conditions and increased market share.
The backlog of the Architectural segment represented 98.1 percent of the Company
s consolidated backlog.
The Company views backlog as an important statistic in evaluating the level of
sales activity and short-term sales trends in its business. However, as backlog
is only one indicator,
and is not an effective indicator of the ultimate profitability of the Company s
sales, the Company does not believe that backlog should be used as the sole
indicator of future earnings of the Company. Liquidity and Capital Resources
Nine months ended
(Cash effect, in thousands)
 Nov. 26, 2005
Nov. 27, 2004
Net cash provided by operating activities
17,207
22,642
Capital expenditures and acquisitions of intangible assets
(22,494)
(14,515)
 Net increase (decrease) in borrowings
8,700
(4,658)
 Dividends paid
(5,282)
(4,988)
 (Decrease) increase in cash and cash equivalents
(2,244)
1,748
 Operating
Activities. Cash provided by operating activities was 17.2 million through the
first nine months of fiscal 2006, compared to 22.6 million in the prior-year
period. The most significant item that contributed to the decrease from the
prior-year period is the increase in non-cash working capital (current assets
less cash and cash equivalents, less current liabilities), offset by improved
earnings. The increase in non-cash working capital of 12.1 million compared to
year-end is
primarily due to increases in accounts receivable and inventory as a result of
increased business activity. Investing Activities. Through the nine months of
fiscal 2006, investing activities used cash of 23.0 million, compared to 10.1
million in
the same period last year, primarily as a result of increased capital
expenditures. New capital investment through the nine months of fiscal 2006
totaled 22.5 million, which includes spending for our architectural glass
capacity expansion in
Statesboro, GA and modernization in Owatonna, MN and the purchase of a used
coater for our southwest United States expansion that we intend to upgrade to
current technology. This compares to 14.5 million in the prior-year period. In
fiscal 2006, the Company s total capital expenditures include the
expansion of our Statesboro, GA plant and other architectural glass upgrades,
costs as necessary to maintain existing facilities, safety and information
systems, as well as some capacity improvements within the LSO segment. In the
second quarter of
fiscal 2006, the Company announced plans for a new architectural glass plant to
be located in the southwest United States which is expected to be operational in
fiscal 2008 and is expected to cost approximately 25 million, which includes 4.7
million expended in the third quarter of fiscal 2006. Total capital expenditures
for fiscal 2006 are expected to be approximately 30.0 million, excluding any
acquisitions.
 16
Table of Contents
 We continue to review our portfolio of businesses and their assets in
comparison to our internal
strategic and performance objectives. As part of this review, we may acquire
other businesses, further invest in, fully divest and/or sell parts of our
current businesses. Financing Activities. Total outstanding borrowings increased
to 44.0 million at November 26, 2005 from
the 35.3 million outstanding at February 26, 2005, due to the timing of capital
investments and seasonal working capital changes. The majority of our long-term
debt, 35.6 million, consisted of bank borrowings under our new 100.0 million
syndicated revolving credit facility. We have paid 5.3 million in dividends

In [ ]:
print('\n'.join(textwrap.fill(para, width=80) for para in mgmt_sample2.split('\n') if para.strip()))

Item 2 Management s Discussion and Analysis of Financial Condition and Results
of Operations Item 2 Management s Discussion and Analysis of Financial Condition
and Results of Operations
Cautionary Disclosures To Qualify Forward Looking Statements
This report on Form 10-Q includes forward-looking statements within the meaning
of Section
27A of the Securities Act of 1933, as amended, and Section 21E of the Securities
Exchange Act of
1934, as amended. All statements other than statements of historical facts
included in this Form
10-Q, including, without limitation, statements contained in this Management s
Discussion and
Analysis of Financial Condition and Results of Operations and Notes to
Consolidated Financial
Statements located elsewhere in this report regarding our financial position,
business strategy,
plans and objectives of management for future operations, future sales and
industry conditions, are
forward-looking statements. Although we believe that the expectations reflected
in such
forward-looking statements are reasonable, we can give no assurance that such
expectations will
prove to be correct. In addition to important factors described elsewhere in
this report, we
caution current and potential investors that the following important risk
factors, among others,
sometimes have affected, and in the future could affect, our actual results and
could cause such
results during fiscal 2006, and beyond, to differ materially from those
expressed in any
forward-looking statements made by or on behalf of Intervoice:
We may not be successful in integrating the operations and products, and
retaining the
customers, of Edify, and this could negatively impact our business. We believe
we will be
able to achieve certain cost savings and other synergies as a result of
combining
Intervoice and Edify, but there can be no assurance that such synergies will be
realized.
Our future success will depend in part upon our ability to integrate and operate
Edify
successfully with our business. Any inability to integrate the products of
Intervoice and
Edify while maintaining or increasing the market share that such products had
prior to the
merger could decrease the revenues historically generated from these products.
Customers
of Intervoice and Edify may delay their purchase of products or services from
one or both
companies to consider any potential implications the acquisition may have for
products and
services offered by either company. In addition, the integration process will
require the
dedication of management resources, which may temporarily distract attention
from our
day-to-day business. Our future success will also depend in part on our ability
to retain
and assimilate certain key employees of Edify. There can be no assurance that we
will be
able to efficiently integrate and operate Edify and its products with our
business,
maintain business relationships with Edify s customers and retain and assimilate
key
employees of Edify. Failure to do so could have a material adverse effect on our
results
of operations or our financial condition. Edify provides products and services
which are
similar to our products and services and, accordingly, our Edify operations are
generally
subject to most of the other risk factors discussed in this

# Construct Text data dataframe

In [ ]:
txt_db = txt_sample.loc[:,["year", "date", "file_type", "rf", "mgmt", "gvkey", "cusip", "cik" ]].copy()
txt_db.tail()

,year,date,file_type,rf,mgmt,gvkey,cusip,cik
213523,2006,2006-12-29,10K,ITEM 1A. \n\nRISK\n FACTORS \n\n13 Item 1A. \n...,ITEM 7. \n\nMANAGEMENT S\n DISCUSSION AND ANAL...,113361,149016107,1063085
213506,2006,2006-12-29,10K,Item\n 1A. \n\nRisk\n Factors \n\n1.\n We May ...,Item\n 7. \n\nManagement s\n Discussion and An...,147249,47077R109,1133062
213509,2006,2006-12-29,10K,ITEM 1A \n\nRISK FACTORS \n \n 11 ITEM 1A. Ris...,ITEM 7. \n\nMANAGEMENT S DISCUSSION AND ANALYS...,230796,00506P103,1183941
213524,2006,2006-12-29,10K,ITEM 1A. RISK FACTORS Risk Factors This report...,ITEM 7. MANAGEMENT S DISCUSSION AND ANALYSIS O...,162956,00430L103,1310094
213529,2006,2006-12-29,10K,Item 1A. Risk Factors 33 ITEM 1A. RISK FACTORS...,Item 7. Management's Discussion and Analysis o...,162576,114039100,1310313

In [ ]:
data_dct['global_name_merge'].columns

Index(['fic', 'gvkey', 'date', 'iid', 'conm'], dtype='object')

In [ ]:
txt_db.merge(data_dct['global_name_merge'].drop_duplicates(subset=["gvkey", "date"]),
              how='left', 
              on =["gvkey",  "date"], 
              validate="one_to_one").dropna()

,year,date,file_type,rf,mgmt,gvkey,cusip,cik,fic,iid,conm
8498,2006,2006-06-30,10Q,,Item 2. Management's Discussion and Analysis o...,13498,143658300,815097,PAN,01W,CARNIVAL CORPORATION & PLC

In [ ]:
data_dct['na_name_merge'].columns

Index(['gvkey', 'date', 'iid', 'tic', 'cusip', 'conm', 'cik'], dtype='object')

In [ ]:
txt_db.merge(data_dct['na_name_merge'].drop_duplicates(subset=["gvkey", "cik", "cusip", "date"]),
              how='left', on =["gvkey", "cik", "cusip", "date"]).dropna().drop(['cik', 'cusip', 'gvkey', 'iid'], axis=1).reset_index(drop=True)

,year,date,file_type,rf,mgmt,tic,conm
0,2006,2006-01-31,10Q,,Item 2. Management's Discussion and Analysis o...,SCX,STARRETT (L.S.) CO -CL A
1,2006,2006-01-31,10Q,,Item 2. Management s Discussion and Analysis o...,WWD,WOODWARD INC
2,2006,2006-01-31,10Q,,Item 2. \n\nManagement s Discussion and Analys...,CVCO,CAVCO INDUSTRIES INC
3,2006,2006-01-31,10K,,ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS O...,ANIX,ANIXA BIOSCIENCES INC
4,2006,2006-01-31,10Q,Item 1A Risk Factors 16 Item 1A Risk Factors\n...,Item 2 Management's Discussion and Analysis of...,UCIA,UCI MEDICAL AFFILIATES INC
...,...,...,...,...,...,...,...
591,2006,2006-11-30,10K,Item 1A Risk Factors 2 ITEM 1A. RISK FACTORS\n...,Item 7 Management's Discussion and Analysis of...,OFI,OVERHILL FARMS INC
592,2006,2006-11-30,10Q,Item 1A. Risk Factors Item 1A. Risk Factors \n...,Item 2. Management s Discussion and Analysis o...,AVNT,AVIENT CORP
593,2006,2006-11-30,10Q,Item 1A. Risk Factors............................,Item 2. Management's Discussion and Analysis o...,CONNQ,CONN'S INC
594,2006,2006-11-30,10Q,ITEM 1A. \n \n RISK FACTORS We have disclosed ...,ITEM 2.\n MANAGEMENT S DISCUSSION AND ANALYSIS...,EXLS,EXLSERVICE HOLDINGS INC
595,2006,2006-11-30,10Q,Item 1A. \n\nRisk Factors \n\n22 Item 1A. Risk...,Item 2. \n \n Management s Discussion and Anal...,CADX,CADENCE PHARMACEUTICALS INC

In [ ]:
data_dct['us_cik_gvkey_linktable'].columns

Index(['gvkey', 'date', 'iid', 'tic', 'cusip', 'conm', 'tpci', 'cik'], dtype='object')

In [ ]:
txt_db.merge(data_dct['us_cik_gvkey_linktable'].drop_duplicates(subset=["gvkey", "cik", "cusip", "date"]),
              how='left', 
              on =["gvkey", "cik", "cusip", "date"]).dropna().drop(['cik', 'cusip', 'gvkey', 'iid'], axis=1).reset_index(drop=True).iloc[300:400]

,year,date,file_type,rf,mgmt,tic,conm,tpci
300,2006,2006-03-31,10K,Item 1A. \n\nRisk Factors \n\n20 ITEM 1A. RISK...,Item 7. \n\nManagement s Discussion and Analys...,SNDA,SONIDA SENIOR LIVING INC,0
301,2006,2006-03-31,10K,ITEM 1A. \n\nRisk Factors \n \n 6 Item 1A. Ris...,ITEM 7. \n\nManagement s Discussion and Analys...,VERT,VERTICALNET INC,0
302,2006,2006-03-31,10K,Item 1A. \n\nRisk\n Factors \n\nWe\n have a hi...,Item 7. \n\nManagement s\n Discussion and Anal...,ENHT,ENHERENT CORP,0
303,2006,2006-03-31,10K,Item\n 1A. Risk Factors \n\nAn\n investment in...,Item\n 7. Management's Discussion and Analysis...,GFED,GUARANTY FED BANCSHARES INC,0
304,2006,2006-03-31,10K,Item 1A. \n\nRisk Factors \n \n 15 ITEM 1A. RI...,Item 7. \n\nManagement s Discussion and Analys...,OMNI,OMNI ENERGY SERVICES CORP,0
...,...,...,...,...,...,...,...,...
395,2006,2006-03-31,10K,Item 1A \n \n Risk Factors \n\n40 Item 1A. RIS...,Item 7 \n \n Management s Discussion and Analy...,BKD,BROOKDALE SENIOR LIVING INC,0
396,2006,2006-03-31,10K,Item 1A \n\nRisk Factors \n\n14 Item 1A. \n \n...,Item 7 \n\nManagement s Discussion and Analysi...,CBOU,CARIBOU COFFEE CO,0
397,2006,2006-03-31,10K,Item 1A \n\nRisk Factors \n\n7 Item 1A. \n\nRi...,Item 7 \n\nManagement s\n Discussion and Analy...,CSA.3,COGDELL SPENCER INC,0
398,2006,2006-03-31,10K,Item 1A Risk Factors \n\n16 Item 1A. Risk Fact...,Item 7 Management s Discussion and Analysis of...,TCMIQ,TRIPLE CROWN MEDIA INC,0
399,2006,2006-03-31,10K,Item 1A. \n \n Risk Factors ITEM 1A. Risk Fact...,Item 7. \n \n Management's Discussion and Anal...,CROX,CROCS INC,0

🔹 cik

Meaning: Central Index Key.

Issued by the SEC’s EDGAR system to uniquely identify companies and individuals who file disclosure documents with the SEC.

Example: Apple’s CIK = 0000320193.

Used to link Compustat firms (gvkey) with SEC filings (10-K, 10-Q).

🔹 tpci

Meaning: Trading Public Company Indicator (Compustat variable).

A flag indicating the trading status of the security or company.

Values (from WRDS / Compustat docs):

"0" = Not a public company / not trading

"1" = Publicly traded company

Sometimes extended values exist depending on dataset vintage.

🔹 In your us_cik_gvkey_linktable context

gvkey → Compustat’s unique firm identifier.

cik → SEC’s identifier (so you can join to EDGAR filings).

tpci → Indicator whether the gvkey is linked to a publicly traded company (helps filter out private or non-trading entities when consolidating).

✅ So practically:

Use cik when you want to pull SEC filings for the firm.

Use tpci to filter down to actively traded companies (exclude stale or private).




🔹 cusip

Meaning: Committee on Uniform Securities Identification Procedures number.

It’s a 9-character alphanumeric identifier assigned to U.S. and Canadian securities (stocks and bonds).

Structure:

First 6 = issuer code.

Next 2 = issue identifier.

Last 1 = check digit.

In Compustat: lets you link to market data (CRSP, Bloomberg, etc.) at the security level.

Example: Apple Inc. common stock = 037833100.

🔹 iid

Meaning: Issue Identifier (Compustat).

Distinguishes different securities (issues) for the same firm (gvkey).

Example: A company might have common stock, preferred stock, bonds — all share the same gvkey but different iid.

Together, (gvkey, iid) pinpoints a unique security within a firm.

🔹 fic

Meaning: Foreign Incorporation Code.

Indicates the country of incorporation of the firm.

It’s a 3-character ISO country code (e.g., USA, CAN, GBR).

Useful when consolidating across global datasets or filtering U.S. vs foreign companies.

✅ In summary, in this context:

cusip → security identifier, links to markets.

iid → security issue within the firm.

fic → firm’s country of incorporation.